.Rproj.user
.Rhistory
.RData
.here

data/raw/fastq/run*/**
data/reference/*silva*
data/reference/*.biom
data/intermediate/qiim2/**/*.qza
data/intermediate/maaslin2/figures/
data/intermediate/maaslin2/*.rds
data/intermediate/maaslin2/*.log


code/*_cache
code/*_files
code/.ipynb_checkpoints





